<div id="scroll">

  <p class="title is-1 has-text-centered inline">
    <span class="has-text-primary">Json</span>
    training generator
  </p>

  <div class="container is-fluid">

    <div *ngIf="collection == ''">
      <h4 class="subtitle is-4 has-text-centered">Scegli la collection</h4>
      <div class="buttons is-centered" style="margin-bottom: 0px;">
        <div *ngFor="let collection_name of collection_names">
          <button (click)="setCollection(collection_name)" class="button is-primary is-outlined" id="btn">{{collection_name}}</button>
        </div>
      </div>
    </div>

    <div *ngIf="collection != ''">
      <!-- Main container -->
      <h4 class="subtitle is-4 has-text-centered">{{collection}}</h4>
      <div *ngFor='let element of elements; let i = index'>
        <nav class="columns" *ngIf="element.show">
          <!-- Left side -->
          <div class="column is-half">
            <div class="level-item">
              <div class="field has-addons">
                <p class="control">
                  <input class="input" id="query-{{ i }}" type="text" placeholder="Inserisci la domanda" (keyup)="getFilename($event, element)">
                </p>
                <p class="control">
                  <button class="button" (click)="getFilename($event, element)">Cerca</button>
                </p>
              </div>
            </div>
          </div>

          <!-- Right side -->
          <div class="column is-half">
            <div class="box" *ngIf="element.state == 'searching' || element.state == 'ended'" style="margin-bottom: 25px;">
              <h5 class="title is-5 has-text-centered">{{element.error == undefined ? element.query : element.error}}</h5>
              <progress class="progress is-small is-primary" max="100" *ngIf="element.state == 'searching'">15%</progress>
              <h6 class="subtitle is-6 has-text-centered" *ngIf="element.state == 'ended' && element.filenames.length == 0 && element.error == undefined">La domanda non ha prodotto risultati</h6>
              <div *ngFor='let filename of element.filenames; let j = index'>
                <input class="is-checkradio" type="checkbox" id="check-{{ i }}-{{ j }}" name="check-{{ i }}-{{ j }}">
                <label for="check-{{ i }}-{{ j }}"> {{filename}}</label>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

  </div>
</div>
<footer  *ngIf="collection != ''" class="footer pb-3 pt-3" id="fixedBottom">
  <div class="buttons is-centered">
    <button (click)="addElement()" class="button is-primary" id="btn">Aggiungi domanda</button>
    <button (click)="sendToCOS()" class="button is-primary" id="btn">Invia al COS</button>
  </div>
</footer>
