<p class="title is-1 has-text-centered">Json training generator</p>
<div class="container pt-3 px-2">
  <!-- Main container -->
  <div *ngFor='let element of elements'>
    <nav class="columns">
      <!-- Left side -->
      <div class="column is-half">
        <div class="level-item">
          <div class="field has-addons">
            <p class="control">
              <input class="input" type="text" placeholder="Inserisci la domanda">
            </p>
            <p class="control">
              <button class="button" (click)="getFilename()">Cerca</button>
            </p>
<div id="scroll">
          </div>
        </div>
      </div>

      <!-- Right side -->
      <div class="column is-half">
        <div *ngFor='let filename of filenames[element]'>
          <input type="checkbox">
          {{filename}}
        </div>
      </div>
    </nav>
  </div>


</div>
<footer class="footer pb-2 pt-3" id="fixedBottom">
  <div class="has-text-centered">
    <button (click)="addElement()" class="button is-primary" id="btn">Aggiungi domanda</button>
    <button (click)="sendToCOS()" class="button is-primary" id="btn">Invia al COS</button>
  </div>
</footer>
